<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo da memória</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/springGameLogic.js"></script>
</head>

<body>

  <div class="historic-game-container">
    <h1>Histórico de partidas</h1>
    <p>Pontuação: 10</p>
    <p>Pontuação: 2</p>
    <p>Pontuação: 6</p>
    <p>Pontuação: 20</p>
  </div>

  <div class="game-container">
    <h1>GENIUS</h1>
    <div class="blocks-option-game-container">
      <button class="yellow-container-game"></button>
      <button class="red-container-game"></button>
      <button class="green-container-game"></button>
      <button class="blue-container-game"></button>
    </div>
  
    <div class="button-play-container">
      <button class="button-play-game">Iniciar jogo</button>
    </div>
    <div>
      <h1>Round: </h1>
    </div>
  </div>

  <div>
    <h1>OUTRO TESTE</h1>
  </div>

    
</body>
</html>