<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GENIUS</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/springGameLogic.js"></script>
</head>

<body>
  <div class="container">
    <div class="game">
      <button class="green-game-container"></button>
      <button class="red-game-container"></button>
      <button class="yellow-game-container"></button>
      <button class="blue-game-container"></button>

      <div class="game-options">
        <div class="title-game">
          <h1>GENIUS</h1>
        </div>

        <div class="group-components">
          <div>
            <p>Audio</p>
            <input type="checkbox" id="toggleButton" class="toggleButton" checked />
            <label for="toggleButton" class="switch">
              <span class="slider"></span>
            </label>
          </div>

          <div>
            <p>Round</p>
            <div class="round-container"></div>
          </div>

          <div>
            <p>Start</p>
            <button class="start-game-button" id="start-restart-button"></button>
          </div>
        </div>

      </div>
    </div>

    <div>
      <h1>RESULTADOS ANTERIORES</h1>
      <p class="result-teste"></p>
      <ul id="results-list" ></ul>
    </div>

    <audio id="audio-green" src="/audio/green-audio.mp3"></audio>
    <audio id="audio-red" src="/audio/red-game.mp3"></audio>
    <audio id="audio-yellow" src="/audio/yellow-audio.mp3"></audio>
    <audio id="audio-blue" src="/audio/blue-audio.mp3"></audio>
    <audio id="audio-error" src="/audio/error-audio.mp3"></audio>
  </div>
</body>
</html>